<form action="/songs/<%= @song.slug %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Edit Song Name</label>

  <input type="text" name="Name" value ="<%= @song.name %>"><br>

  <h3>Edit Genres</h3>
  <% Genre.all.each do |genre| %>
    <input type="checkbox" name="genres[]" id="<%= genre.name %>" value="<%= genre.id %>" <%='checked' if @song.genre_ids.include?(genre.id) %>><%= genre.name %></input>
  <% end %>
  <br>
  <label>Edit Artist Name</label>
  <br>
  <input type="text" name="Artist Name" value="<%= @song.artist.name %>"></input>
  <br><br>

  <input type="submit" value="Save">
</form>
